.project-wrapper{
    display: flex;
    background-color: #EFEAE3; 
    height: 80vh;
    align-items: center;
    position: relative;
   
}

.project-image img{
    
    height: 35vw;
    width: 35vw;
}

.project-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-sec2{
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    /* background-color: aqua; */
}

.project-sec2 h1{
    font-size: 5vw;
    /* margin-top: 7vw ; */
    margin-bottom: 1vw;
    margin-left: 2vw;
    text-align:left ;
    line-height: 5vw;
}
.project-sec2 h3{
    font-size: 1.3vw;
    margin: 0;
    margin-bottom: 1vw;
    z-index: 10;
    
}

.project-shape{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background: linear-gradient( #FE330A, #fe740a);
    filter: blur(1vw);
    position: absolute;
    top: 25%;
    right: 6%;
    animation-name: animation-project;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    overflow: hidden;
    z-index: 9;
  
}


@keyframes animation-project {

    from{
        transform: translate(-10%, 2%) skew(10deg);
    }
    to{
        transform: translate(15%, -10%) skew(-9deg);
    }
    
}



@media screen and (max-width:765px){

    .project-image{
        display: none;
    }
    .project-sec2{
        height: 100%;
        width: 100%;

    }
    .project-sec2 h1{
        font-size: 10vw;
        margin-top: 25vh;
        line-height: 10vw;
        margin-left: 10vw;
    }
    .project-sec2 h3{
        font-size: 3vw;
    }
    .project-wrapper{
        display: flex;
        align-items: center;
        
    }
    .project-shape{
        position: absolute;
        top: 40%;
        right: 15%;
        height: 35vw;
        width: 35vw;
        filter: blur(2vw);
    }
}
